.leave-feedback{
    background-color: var(--color-background-secondary);
    border-radius: 18px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 18px;
}

.leave-feedback__message{
    font-weight: 600;
    font-size: 0.9em;
}

