.page {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.page-content{
    overflow: auto;
    padding-top: 60px;
    padding-bottom: 30px;
}

.page-content::-webkit-scrollbar{
    display: none;
}

.sticky {
    position: sticky;
}