[data-theme=dark] {
    --color-font: #FFF;
    --color-label: #8E97FD;
    --color-background: #08193A;
    --color-background-secondary: #112B5E;  
    --color-button-primary: #4F66E8;
    --color-button-pressed: #2c3fa6;
}
