@import url('./dark-theme.css');
@import url('./fonts.css');
@import url('./reset.css');

:root{
    --external-margin: 22px;
}

html, body, .app{
    height: 100%;
    width: 100%;
}

.app {
    flex-direction: column;
    display: flex;
    padding: var(--external-margin);
}

body{
    font-family: 'Open Sans';
    background-color: var(--color-background);
    color: var(--color-font);
}   

a {
    color: var(--color-font);
}