@import url('./dark-theme.css');
@import url('./fonts.css');
@import url('./reset.css');

:root{
    --external-margin: 22px;
}

html, body, .app{
    min-height: 100%;
    min-width: 100%;
}

body{
    font-family: 'Open Sans';
    background-color: var(--color-background);
    color: var(--color-font);
}   

a {
    color: var(--color-font);
}